---
import Layout from '../layouts/Layout.astro'
import profiles from '../data/profiles'

---

<Layout title='Profiles' description='Confidential Defense Agency was established as a small family run business in 2021.'>
    <main>
        <section class='wrapped'>
          <span class="reverse-order"><h2>Reverse Order</h2></span>
          <div class="profile-container">
            {profiles.map((profile, index) => (
              <div class="profile-card__wrapper" data-show-profile>
                <div class="profile-card__img"><img src={profile.image} alt="" class="obj-img"></div>
                <div class="profile-card__name"><h2 class="heading-sm">{profile.firstName} {profile.lastName}</h2></div>
                <div class="profile-card__data">
                  <div class="profile-card__data-name">
                    <h2>{profile.firstName} <br/>{profile.lastName}</h2>
                    <span class="close-btn">X</span>
                    </div>
                  <h2>{profile.tier}</h2>
                  <p>{profile.height}</p>
                  <p>{profile.weight}</p>
                  <p>{profile.age}</p>
                  <p>{profile.race}</p>
                  <p>{profile.languages}</p>
                  <p>{profile.certifications}</p>
                  <p>{profile.specialSkills}</p>
                </div>
              </div>
            ))}
          </div>
        </section>
    </main>
</Layout>
<style>
.profile-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.profile-card__wrapper {
  flex-basis: calc((100% / 5) - 50px);
  cursor: pointer;
}
.profile-card__wrapper:hover .profile-card__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #29438d;
    mix-blend-mode: screen;
	}
.profile-card__img {
  margin-bottom: 20px;
  position: relative;
}
.profile-card__img img{
  vertical-align: middle;
}
.heading-sm {
  text-align: center;
  font-size: clamp(14px, 2vw, 18px);
}
.profile-card__data {
  display: none;
}
.show-profile .profile-card__data {
  display: block;
}
@media (max-width: 768px) {
.profile-card__wrapper {
  flex-basis: calc((100% / 3) - 50px);
  cursor: pointer;
}
}

@media (max-width: 600px) {
.profile-card__wrapper {
  flex-basis: calc((100% / 2) - 50px);
  cursor: pointer;
}
}
</style>
<script>
  import profiles from '../data/profiles'
  profiles.sort((a, b) => {
    const nameA = a.lastName;
    const nameB = b.lastName;
    if (nameA < nameB) {
      return -1;
    }
    if (nameA > nameB) {
      return 1;
    }
    // names must be equal
    return 0;
  });
  
  const profilesData = document.querySelectorAll('[data-show-profile]');
  const closeBtn = document.querySelector('.close-btn');
  profilesData.forEach((profile) => {
    profile.addEventListener('click', e => console.log(e.target))
  })
</script>